@model DefineMalfunctionDto
@{
    ViewData["Title"] = Messages.MaintenanceItems;
    Layout = null;
}

<form asp-action="DefineMalfunctionForReturnHandReceiptItem" method="post" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <input asp-for="ReceiptItemId" type="hidden" />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Messages.Description</label>
                <input asp-for="Description" placeholder="@string.Format(Messages.Enter,Messages.Description)" class="form-control form-control-solid" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary font-weight-bold mr-2">@Messages.Submit</button>
        <button type="button" data-dismiss="modal" class="btn btn-light-primary font-weight-bold">@Messages.Cancel</button>
    </div>
</form>

<script>
    PageLoadActions();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



